@keyframes rgb {
	 0.000% { background: conic-gradient(from  0.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 0.278% { background: conic-gradient(from  1.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 0.556% { background: conic-gradient(from  2.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 0.833% { background: conic-gradient(from  3.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 1.111% { background: conic-gradient(from  4.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 1.389% { background: conic-gradient(from  5.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 1.667% { background: conic-gradient(from  6.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 1.944% { background: conic-gradient(from  7.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 2.222% { background: conic-gradient(from  8.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 2.500% { background: conic-gradient(from  9.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 2.778% { background: conic-gradient(from 10.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 3.056% { background: conic-gradient(from 11.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 3.333% { background: conic-gradient(from 12.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 3.611% { background: conic-gradient(from 13.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 3.889% { background: conic-gradient(from 14.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 4.167% { background: conic-gradient(from 15.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 4.444% { background: conic-gradient(from 16.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 4.722% { background: conic-gradient(from 17.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 5.000% { background: conic-gradient(from 18.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 5.278% { background: conic-gradient(from 19.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 5.556% { background: conic-gradient(from 20.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 5.833% { background: conic-gradient(from 21.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 6.111% { background: conic-gradient(from 22.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 6.389% { background: conic-gradient(from 23.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 6.667% { background: conic-gradient(from 24.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 6.944% { background: conic-gradient(from 25.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 7.222% { background: conic-gradient(from 26.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 7.500% { background: conic-gradient(from 27.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 7.778% { background: conic-gradient(from 28.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 8.056% { background: conic-gradient(from 29.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 8.333% { background: conic-gradient(from 30.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 8.611% { background: conic-gradient(from 31.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 8.889% { background: conic-gradient(from 32.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 9.167% { background: conic-gradient(from 33.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 9.444% { background: conic-gradient(from 34.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	 9.722% { background: conic-gradient(from 35.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	10.000% { background: conic-gradient(from 36.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	10.278% { background: conic-gradient(from 37.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	10.556% { background: conic-gradient(from 38.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	10.833% { background: conic-gradient(from 39.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	11.111% { background: conic-gradient(from 40.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	11.389% { background: conic-gradient(from 41.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	11.667% { background: conic-gradient(from 42.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	11.944% { background: conic-gradient(from 43.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	12.222% { background: conic-gradient(from 44.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	12.500% { background: conic-gradient(from 45.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	12.778% { background: conic-gradient(from 46.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	13.056% { background: conic-gradient(from 47.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	13.333% { background: conic-gradient(from 48.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	13.611% { background: conic-gradient(from 49.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	13.889% { background: conic-gradient(from 50.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	14.167% { background: conic-gradient(from 51.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	14.444% { background: conic-gradient(from 52.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	14.722% { background: conic-gradient(from 53.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	15.000% { background: conic-gradient(from 54.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	15.278% { background: conic-gradient(from 55.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	15.556% { background: conic-gradient(from 56.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	15.833% { background: conic-gradient(from 57.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	16.111% { background: conic-gradient(from 58.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	16.389% { background: conic-gradient(from 59.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	16.667% { background: conic-gradient(from 60.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	16.944% { background: conic-gradient(from 61.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	17.222% { background: conic-gradient(from 62.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	17.500% { background: conic-gradient(from 63.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	17.778% { background: conic-gradient(from 64.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	18.056% { background: conic-gradient(from 65.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	18.333% { background: conic-gradient(from 66.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	18.611% { background: conic-gradient(from 67.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	18.889% { background: conic-gradient(from 68.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	19.167% { background: conic-gradient(from 69.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	19.444% { background: conic-gradient(from 70.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	19.722% { background: conic-gradient(from 71.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	20.000% { background: conic-gradient(from 72.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	20.278% { background: conic-gradient(from 73.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	20.556% { background: conic-gradient(from 74.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	20.833% { background: conic-gradient(from 75.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	21.111% { background: conic-gradient(from 76.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	21.389% { background: conic-gradient(from 77.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	21.667% { background: conic-gradient(from 78.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	21.944% { background: conic-gradient(from 79.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	22.222% { background: conic-gradient(from 80.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	22.500% { background: conic-gradient(from 81.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	22.778% { background: conic-gradient(from 82.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	23.056% { background: conic-gradient(from 83.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	23.333% { background: conic-gradient(from 84.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	23.611% { background: conic-gradient(from 85.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	23.889% { background: conic-gradient(from 86.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	24.167% { background: conic-gradient(from 87.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	24.444% { background: conic-gradient(from 88.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	24.722% { background: conic-gradient(from 89.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	25.000% { background: conic-gradient(from 90.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	25.278% { background: conic-gradient(from 91.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	25.556% { background: conic-gradient(from 92.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	25.833% { background: conic-gradient(from 93.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	26.111% { background: conic-gradient(from 94.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	26.389% { background: conic-gradient(from 95.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	26.667% { background: conic-gradient(from 96.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	26.944% { background: conic-gradient(from 97.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	27.222% { background: conic-gradient(from 98.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	27.500% { background: conic-gradient(from 99.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	27.778% { background: conic-gradient(from 100.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	28.056% { background: conic-gradient(from 101.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	28.333% { background: conic-gradient(from 102.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	28.611% { background: conic-gradient(from 103.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	28.889% { background: conic-gradient(from 104.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	29.167% { background: conic-gradient(from 105.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	29.444% { background: conic-gradient(from 106.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	29.722% { background: conic-gradient(from 107.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	30.000% { background: conic-gradient(from 108.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	30.278% { background: conic-gradient(from 109.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	30.556% { background: conic-gradient(from 110.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	30.833% { background: conic-gradient(from 111.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	31.111% { background: conic-gradient(from 112.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	31.389% { background: conic-gradient(from 113.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	31.667% { background: conic-gradient(from 114.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	31.944% { background: conic-gradient(from 115.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	32.222% { background: conic-gradient(from 116.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	32.500% { background: conic-gradient(from 117.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	32.778% { background: conic-gradient(from 118.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	33.056% { background: conic-gradient(from 119.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	33.333% { background: conic-gradient(from 120.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	33.611% { background: conic-gradient(from 121.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	33.889% { background: conic-gradient(from 122.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	34.167% { background: conic-gradient(from 123.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	34.444% { background: conic-gradient(from 124.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	34.722% { background: conic-gradient(from 125.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	35.000% { background: conic-gradient(from 126.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	35.278% { background: conic-gradient(from 127.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	35.556% { background: conic-gradient(from 128.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	35.833% { background: conic-gradient(from 129.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	36.111% { background: conic-gradient(from 130.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	36.389% { background: conic-gradient(from 131.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	36.667% { background: conic-gradient(from 132.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	36.944% { background: conic-gradient(from 133.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	37.222% { background: conic-gradient(from 134.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	37.500% { background: conic-gradient(from 135.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	37.778% { background: conic-gradient(from 136.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	38.056% { background: conic-gradient(from 137.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	38.333% { background: conic-gradient(from 138.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	38.611% { background: conic-gradient(from 139.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	38.889% { background: conic-gradient(from 140.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	39.167% { background: conic-gradient(from 141.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	39.444% { background: conic-gradient(from 142.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	39.722% { background: conic-gradient(from 143.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	40.000% { background: conic-gradient(from 144.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	40.278% { background: conic-gradient(from 145.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	40.556% { background: conic-gradient(from 146.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	40.833% { background: conic-gradient(from 147.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	41.111% { background: conic-gradient(from 148.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	41.389% { background: conic-gradient(from 149.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	41.667% { background: conic-gradient(from 150.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	41.944% { background: conic-gradient(from 151.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	42.222% { background: conic-gradient(from 152.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	42.500% { background: conic-gradient(from 153.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	42.778% { background: conic-gradient(from 154.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	43.056% { background: conic-gradient(from 155.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	43.333% { background: conic-gradient(from 156.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	43.611% { background: conic-gradient(from 157.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	43.889% { background: conic-gradient(from 158.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	44.167% { background: conic-gradient(from 159.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	44.444% { background: conic-gradient(from 160.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	44.722% { background: conic-gradient(from 161.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	45.000% { background: conic-gradient(from 162.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	45.278% { background: conic-gradient(from 163.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	45.556% { background: conic-gradient(from 164.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	45.833% { background: conic-gradient(from 165.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	46.111% { background: conic-gradient(from 166.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	46.389% { background: conic-gradient(from 167.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	46.667% { background: conic-gradient(from 168.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	46.944% { background: conic-gradient(from 169.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	47.222% { background: conic-gradient(from 170.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	47.500% { background: conic-gradient(from 171.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	47.778% { background: conic-gradient(from 172.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	48.056% { background: conic-gradient(from 173.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	48.333% { background: conic-gradient(from 174.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	48.611% { background: conic-gradient(from 175.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	48.889% { background: conic-gradient(from 176.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	49.167% { background: conic-gradient(from 177.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	49.444% { background: conic-gradient(from 178.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	49.722% { background: conic-gradient(from 179.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	50.000% { background: conic-gradient(from 180.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	50.278% { background: conic-gradient(from 181.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	50.556% { background: conic-gradient(from 182.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	50.833% { background: conic-gradient(from 183.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	51.111% { background: conic-gradient(from 184.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	51.389% { background: conic-gradient(from 185.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	51.667% { background: conic-gradient(from 186.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	51.944% { background: conic-gradient(from 187.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	52.222% { background: conic-gradient(from 188.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	52.500% { background: conic-gradient(from 189.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	52.778% { background: conic-gradient(from 190.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	53.056% { background: conic-gradient(from 191.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	53.333% { background: conic-gradient(from 192.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	53.611% { background: conic-gradient(from 193.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	53.889% { background: conic-gradient(from 194.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	54.167% { background: conic-gradient(from 195.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	54.444% { background: conic-gradient(from 196.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	54.722% { background: conic-gradient(from 197.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	55.000% { background: conic-gradient(from 198.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	55.278% { background: conic-gradient(from 199.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	55.556% { background: conic-gradient(from 200.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	55.833% { background: conic-gradient(from 201.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	56.111% { background: conic-gradient(from 202.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	56.389% { background: conic-gradient(from 203.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	56.667% { background: conic-gradient(from 204.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	56.944% { background: conic-gradient(from 205.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	57.222% { background: conic-gradient(from 206.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	57.500% { background: conic-gradient(from 207.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	57.778% { background: conic-gradient(from 208.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	58.056% { background: conic-gradient(from 209.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	58.333% { background: conic-gradient(from 210.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	58.611% { background: conic-gradient(from 211.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	58.889% { background: conic-gradient(from 212.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	59.167% { background: conic-gradient(from 213.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	59.444% { background: conic-gradient(from 214.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	59.722% { background: conic-gradient(from 215.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	60.000% { background: conic-gradient(from 216.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	60.278% { background: conic-gradient(from 217.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	60.556% { background: conic-gradient(from 218.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	60.833% { background: conic-gradient(from 219.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	61.111% { background: conic-gradient(from 220.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	61.389% { background: conic-gradient(from 221.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	61.667% { background: conic-gradient(from 222.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	61.944% { background: conic-gradient(from 223.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	62.222% { background: conic-gradient(from 224.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	62.500% { background: conic-gradient(from 225.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	62.778% { background: conic-gradient(from 226.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	63.056% { background: conic-gradient(from 227.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	63.333% { background: conic-gradient(from 228.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	63.611% { background: conic-gradient(from 229.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	63.889% { background: conic-gradient(from 230.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	64.167% { background: conic-gradient(from 231.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	64.444% { background: conic-gradient(from 232.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	64.722% { background: conic-gradient(from 233.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	65.000% { background: conic-gradient(from 234.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	65.278% { background: conic-gradient(from 235.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	65.556% { background: conic-gradient(from 236.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	65.833% { background: conic-gradient(from 237.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	66.111% { background: conic-gradient(from 238.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	66.389% { background: conic-gradient(from 239.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	66.667% { background: conic-gradient(from 240.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	66.944% { background: conic-gradient(from 241.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	67.222% { background: conic-gradient(from 242.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	67.500% { background: conic-gradient(from 243.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	67.778% { background: conic-gradient(from 244.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	68.056% { background: conic-gradient(from 245.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	68.333% { background: conic-gradient(from 246.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	68.611% { background: conic-gradient(from 247.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	68.889% { background: conic-gradient(from 248.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	69.167% { background: conic-gradient(from 249.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	69.444% { background: conic-gradient(from 250.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	69.722% { background: conic-gradient(from 251.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	70.000% { background: conic-gradient(from 252.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	70.278% { background: conic-gradient(from 253.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	70.556% { background: conic-gradient(from 254.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	70.833% { background: conic-gradient(from 255.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	71.111% { background: conic-gradient(from 256.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	71.389% { background: conic-gradient(from 257.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	71.667% { background: conic-gradient(from 258.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	71.944% { background: conic-gradient(from 259.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	72.222% { background: conic-gradient(from 260.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	72.500% { background: conic-gradient(from 261.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	72.778% { background: conic-gradient(from 262.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	73.056% { background: conic-gradient(from 263.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	73.333% { background: conic-gradient(from 264.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	73.611% { background: conic-gradient(from 265.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	73.889% { background: conic-gradient(from 266.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	74.167% { background: conic-gradient(from 267.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	74.444% { background: conic-gradient(from 268.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	74.722% { background: conic-gradient(from 269.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	75.000% { background: conic-gradient(from 270.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	75.278% { background: conic-gradient(from 271.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	75.556% { background: conic-gradient(from 272.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	75.833% { background: conic-gradient(from 273.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	76.111% { background: conic-gradient(from 274.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	76.389% { background: conic-gradient(from 275.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	76.667% { background: conic-gradient(from 276.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	76.944% { background: conic-gradient(from 277.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	77.222% { background: conic-gradient(from 278.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	77.500% { background: conic-gradient(from 279.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	77.778% { background: conic-gradient(from 280.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	78.056% { background: conic-gradient(from 281.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	78.333% { background: conic-gradient(from 282.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	78.611% { background: conic-gradient(from 283.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	78.889% { background: conic-gradient(from 284.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	79.167% { background: conic-gradient(from 285.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	79.444% { background: conic-gradient(from 286.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	79.722% { background: conic-gradient(from 287.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	80.000% { background: conic-gradient(from 288.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	80.278% { background: conic-gradient(from 289.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	80.556% { background: conic-gradient(from 290.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	80.833% { background: conic-gradient(from 291.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	81.111% { background: conic-gradient(from 292.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	81.389% { background: conic-gradient(from 293.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	81.667% { background: conic-gradient(from 294.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	81.944% { background: conic-gradient(from 295.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	82.222% { background: conic-gradient(from 296.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	82.500% { background: conic-gradient(from 297.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	82.778% { background: conic-gradient(from 298.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	83.056% { background: conic-gradient(from 299.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	83.333% { background: conic-gradient(from 300.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	83.611% { background: conic-gradient(from 301.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	83.889% { background: conic-gradient(from 302.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	84.167% { background: conic-gradient(from 303.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	84.444% { background: conic-gradient(from 304.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	84.722% { background: conic-gradient(from 305.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	85.000% { background: conic-gradient(from 306.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	85.278% { background: conic-gradient(from 307.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	85.556% { background: conic-gradient(from 308.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	85.833% { background: conic-gradient(from 309.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	86.111% { background: conic-gradient(from 310.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	86.389% { background: conic-gradient(from 311.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	86.667% { background: conic-gradient(from 312.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	86.944% { background: conic-gradient(from 313.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	87.222% { background: conic-gradient(from 314.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	87.500% { background: conic-gradient(from 315.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	87.778% { background: conic-gradient(from 316.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	88.056% { background: conic-gradient(from 317.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	88.333% { background: conic-gradient(from 318.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	88.611% { background: conic-gradient(from 319.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	88.889% { background: conic-gradient(from 320.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	89.167% { background: conic-gradient(from 321.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	89.444% { background: conic-gradient(from 322.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	89.722% { background: conic-gradient(from 323.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	90.000% { background: conic-gradient(from 324.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	90.278% { background: conic-gradient(from 325.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	90.556% { background: conic-gradient(from 326.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	90.833% { background: conic-gradient(from 327.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	91.111% { background: conic-gradient(from 328.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	91.389% { background: conic-gradient(from 329.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	91.667% { background: conic-gradient(from 330.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	91.944% { background: conic-gradient(from 331.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	92.222% { background: conic-gradient(from 332.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	92.500% { background: conic-gradient(from 333.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	92.778% { background: conic-gradient(from 334.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	93.056% { background: conic-gradient(from 335.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	93.333% { background: conic-gradient(from 336.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	93.611% { background: conic-gradient(from 337.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	93.889% { background: conic-gradient(from 338.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	94.167% { background: conic-gradient(from 339.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	94.444% { background: conic-gradient(from 340.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	94.722% { background: conic-gradient(from 341.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	95.000% { background: conic-gradient(from 342.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	95.278% { background: conic-gradient(from 343.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	95.556% { background: conic-gradient(from 344.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	95.833% { background: conic-gradient(from 345.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	96.111% { background: conic-gradient(from 346.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	96.389% { background: conic-gradient(from 347.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	96.667% { background: conic-gradient(from 348.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	96.944% { background: conic-gradient(from 349.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	97.222% { background: conic-gradient(from 350.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	97.500% { background: conic-gradient(from 351.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	97.778% { background: conic-gradient(from 352.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	98.056% { background: conic-gradient(from 353.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	98.333% { background: conic-gradient(from 354.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	98.611% { background: conic-gradient(from 355.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	98.889% { background: conic-gradient(from 356.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	99.167% { background: conic-gradient(from 357.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	99.444% { background: conic-gradient(from 358.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	99.722% { background: conic-gradient(from 359.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
	100.000% { background: conic-gradient(from 360.000deg, #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c); }
}
